<!DOCTYPE html>
<html lang="en">

<head>
    <title>StudenLink</title>
    <link rel="icon" href="static/assessts/logo200x200.png" type="image/x-icon">
    <!-- <base href="/">  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="static/css/styles.css" />
</head>

<body ng-app='myApp'>
    <div id="BrowserScreen">
        <main ng-view>
        </main>
    </div>

    <script type="text/javascript" src="static/node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="static/node_modules/angular-animate/angular-animate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-css/1.0.8/angular-css.min.js"
        integrity="sha512-IzQn5UXy3MAm+8+GNjk/muwKggpp5MnZQan3BFNP18Y4CHOmrg1WnOdmT5z5Crx1bv6AE2T0L7xmTnFnYeIYlA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="static/node_modules/angular-route/angular-route.min.js"></script>
    <script type="text/javascript" src="static/js/app.js"></script>
    <script type="text/javascript" src="static/js/controllers.js"></script>
</body>

</html>