<div id="nav-bar">
  <img id="logo" src="static/assets/stdlink.png" alt="logo" width="200" />

  <img
    id="profilePicture"
    src="static/assets/user.jpg"
    alt="profilePicture"
    height="80"
    width="80"
    style="border-radius: 50%"
  />
  <input
    ng-submit="alert('submited')"
    id="searchbar"
    type="text"
    placeholder="Search…"
    ng-model="search"
  />
</div>

<!-- you should do the clubs here  -->
<!-- <div class="clubs-row">
  <div id="Club1">
    <img
      src="static/assests/itgeeks.jpg"
      alt="team picture"
      height="50%"
      width="100%"
    />

    <h3>IT Geeks Club</h3>
    <p>Coding & Technology | 20 members | know more</p>
    <button
      class="button"
      style="
        margin-bottom: 1.5%;
        text-align: center;
        background-color: #68B2FF;
cadetblue;
        border-radius: 97px;
        width: 80%;
      "
    >
      <span> Ask to join </span>
    </button>
  </div>
</div> -->

<!-- I WILL START THE CLUB PAGE FROM HERE -->
<div id="_club">
  <div class="row" style="padding: 0 3% 3% 3%">
    <div id="clubinfo">
      <h2>IT Geeks Club</h2>
      <p>
       vision
       goals
       achievements
      </p>
    </div>
    <div
      style="
        border-left: 1.5px solid rgb(0, 2, 0);
        height: 500px;
        margin-left: 45px;
        margin-top: 4%;
      "
    ></div>

    <div id="members">
      <h3>Members</h3>
      LETS ADD THE MEMBERS

      <button
        class="button"
        style="
        margin-bottom: .25%;
        text-align: center;
        background-color: #68B2FF;
cadetblue;
        border-radius: 97px;
        width: 80%;
        margin-top: 100%;
      "
      >
        <span> Ask to join </span>
      </button>
    </div>
  </div>
</div>
