<div id="nav-bar">
    <img id="logo" src="static/assets/stdlink.png" alt="logo" width="200" />

    <img id="profilePicture" src="static/assets/user.jpg" alt="profilePicture" height="80" width="80"
        style="border-radius: 50%" />
    <input id="searchbar" type="text" placeholder="Search…" ng-model="search" />
</div>



<div id="_club">
    <div class="row" style="padding: 0 3% 3% 3%" style="height: 100%;">
        <div id="clubinfo">
            <h2>IT Geeks Club</h2>
            <p style="font-size: 18pt;">
                We cover a wide range of MedTech topics to explore any interest:
                Regenerative Medicine, Gene Therapy, AI and Machine Learning, Corporate
                MedTech, Biotechnology, Biomedical Engineering, Developing your own
                start-up, NHS & MedTech, Neuroscience, Application Development How do we
                do it? Cutting-edge talks: Hear from researchers at the top of their
                field, CEOs, strategy consultants and others changing the world of
                MedTech Networking: Enjoy our links with experts at Deloitte, KPMG, PwC,
                Babylon Health, IBM and others. We use these links to help you build
                your own network with MedTech companies, by giving you access to the
                knowledge, contacts and latest job opportunities you need to kickstart
                your career in MedTech MedTech Portal: Use our new online platform to
                keep up to date with the latest MedTech news or start your learning from
                the ground up using our articles, videos and talks. As a MedTech member,
                you will also have the opportunity to start internships with our partner
                start-up companies! Conferences: Network with NHS executives,
                entrepreneurs, doctors, software engineers and others as we introduce
                you to pioneers and world experts from industry and academia to discuss
                how they are revolutionising medicine at our AI in Medicine Conference,
                the largest conference at UCL. Coding workshops: For complete beginners
                or Machine Learning experts, we run regular project-based programming
                workshops in conjunction with organisations like IBM - so you have the
                skills to develop apps, develop AI tools and much, much more.
                Hackathons: Join in with over 100 other students, graduates and work
                professionals to create an idea that will change the future of Medicine;
                last year with mentors from Babylon Health and Entrepreneur First.
            </p>
        </div>
        <div class="verticalLine"></div>
        <div id="members">
            <h3>30 Members</h3>
            <!-- TODO: just add one member and they will be in a loop just like the last one -->
            <div class="row membersPictures">
                <div class="col-sm-4" style="padding: 10px;" ng-repeat="member in members">
                    <!-- TODO: change this to an actual picture not a div -->
                    <div style="height: 100px; width: 100px; border-radius: 50%; background-color: grey;">

                    </div>
                </div>
            </div>
            <button class="button ask">
                <span> Ask to join </span>
            </button>
        </div>
    </div>
</div>