<div id="nav-bar">
    <img id="logo" src="static/assets/stdlink.png" alt="logo" width="200" />

    <img id="profilePicture" src="static/assets/user.jpg" alt="profilePicture" height="80" width="80"
        style="border-radius: 50%" />
    <input id="searchbar" type="text" placeholder="Search…" ng-model="search" />
</div>

<!-- TODO: make this button at the bottom of the club card -->
<!-- TODO: add shadows so its looks like cards -->
<!-- TODO: make the cards vertically and horizontally centered -->
<div class="clubs">
    <div class="row">
        <div class="col-sm-3" ng-repeat="club in clubs" style="padding: 0.5%">
            <!-- <div>test</div> -->
            <div id="club">
                <img id="teamPicture" src="static/assets/itgeeks.jpg" alt="team picture" height="62%" width="100%" />
                <h3>IT Geeks Club</h3>
                <p>Coding & Technology | 20 members | know more</p>
                <button class="button" style="margin-bottom: 4%; margin-top: 0%" ng-click="club()">
                    <span> Ask to join </span>
                </button>
            </div>
        </div>
    </div>
</div>