<div id="nav-bar">
  <img id="logo" src="static/assets/stdlink.png" alt="logo" width="200" />

  <img
    id="profilePicture"
    src="static/assets/user.jpg"
    alt="profilePicture"
    height="80"
    width="80"
    style="border-radius: 50%"
  />
  <input id="searchbar" type="text" placeholder="Search…" ng-model="search" />
</div>

<div id="_club">
  <div class="row" style="padding: 0 3% 3% 3%" style="height: 100%">
    <div id="clubinfo">
      <h2>IT Geeks Club</h2>
      <p style="font-size: 18pt">
        <h5>Vision</h5>
         The Information Technology (IT) Club provides students with
        opportunities to discuss various IT issues outside the classroom in
        order to create a greater appreciation for and understanding of
        technology. Students plan field trips, guest lectures, and special
        events during the year; In addition to their own education, IT Club
        members strive to educate the masses on the use of technology.
       <h5>Geeks Club Objectives</h5>

<ul style=" list-style-type: square;" >
   <li>To provide students the opportunity for participation in various kinds of activities which involve different modes of Information Technology at different levels.</li> 
   <li> To develop analysis skills by providing opportunities for students to organize and manage through individual clubs.</li>
   <li>To develop their programming by exposure to different kind of softwares and platforms with each operating system.</li>
   <li> To provide an outlet for advanced participation and competition in a particular activity.</li>
</ul>
 <h5>Activities </h5>   
 <!-- Here we insert a table with the activities -->
      </p>
    </div>
    <div class="verticalLine"></div>
    <div id="members">
      <h3>30 Members</h3>
      <!-- TODO: just add one member and they will be in a loop just like the last one -->
      <div class="row membersPictures">
        <div
          class="col-sm-4"
          style="padding: 10px"
          ng-repeat="member in members"
        >
          <!-- TODO: change this to an actual picture not a div -->
          <div
            style="
              height: 100px;
              width: 100px;
              border-radius: 50%;
              background-color: grey;
            "
          ></div>
        </div>
      </div>
      <button class="button ask">
        <span> Ask to join </span>
      </button>
    </div>
  </div>
</div>
