<div id="BackgroundLogo">
    <img id="LoginLogo" src="static/assessts/stdlink.png">
</div>
<div id="LoginForm" class="LoginForm">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-190 p-b-30">
                <!-- ng-controller="loginController" -->
                <form class="login100-form validate-form"  ng-submit="login()">
                    <div ng-show="error" class="alert alert-danger" style="border-radius: 97px"> {{errorMessage}} </div>
                    {{ form.hidden_tag() }}
                    <fieldset class = "form-group">
                        <legend class="border-bottom mb-4">Sign In</legend>
                        <div class="form-group">
                            {{ form.email.label(class="form-control-label") }}
                            {% if form.email.errors %}
                                {{ form.email(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for errors in form.email.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.email(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ form.password.label(class="form-control-label") }}
                            {% if form.password.errors %}
                                {{ form.password(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for errors in form.password.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.password(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>

                    <div class="container-login100-form-btn p-t-10">
                        <button class="login100-form-btn" >
                            {{ form.submit(class="btn btn-outline-info") }}
                            Login
                        </button>
                    </div>

                    <div class="text-center w-full p-t-25 p-b-230">
                        <a href="#" class="txt1">
                            Forgot Username / Password?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>