<div id="nav-bar">
    <img id="logo" src="static/assets/stdlink.png" alt="logo" width="200">

    <img id="profilePicture" src="static/assets/graduate.png" alt="profilePicture" height="70" width="100">

    <input id="searchbar" type="text" placeholder="Search…" ng-model="search.$">

</div>



<!-- 
<div id="userScroller" class="container">
    <div class="container" ng-repeat="student in students  | filter:search:strict" style="width: 100%; height: 170px;">
        <div id="user" class="row">
            <div class="row" id="userDetails">
                <div id="userImage">
                </div>
                {{student.name}} <br />
                {{student.id}}
            </div>
            <div class="row" id="userSkill">
                <div id="skillLevelContainer">
                    <div id="skillLevel">
                    </div>
                </div>
                {{student.skill}}
            </div>
        </div>
    </div>
</div> -->

<div id="personalProfile">   
    <img id="personalExpand" src="static/assets/vector 10.svg" alt="expand" width="65">
    <p id="personalProfileHead">Get to Know @user</p>
    <div style="padding: 3%">
        <p id="bio">
            I began my college journey nearly a decade after completing high school in 2000. I completed most of my general education classes at Moraine Valley Community College and then decided to transfer to CSU in the fall of 2015. I delayed college to focus on my family
        </p>
    </div>

</div>
<div id="collegeProfile">
    <img id="collegeExpand" src="static/assets/vector 10.svg" alt="expand" width="80">
    <p id="collegeProfileHead"> Adam's College
    profile</p>
    <div class="row" style="padding: 3%">
        <div id="C-info"  >
            Software Engineering - 2018  <br>
            31802003106 <br>

           Ranking: 10th <br>

         Completed Credit Hours: 99<br>

        </div>

    <div style="
  border-left: 1.5px solid rgb(0, 2, 0);
  height: 500px;
margin-left: 45px; 
">
</div>
<div id="CurrentCourses">
    <h3 style="text-align: center; font-family:Georgia, serif ; font-weight: 800; font-size: medium;background-color: rgb(255, 253, 250);">Current Courses (Summer 2021): </h3>

  <p id="CC-materials"> 
    USER INTERFACE IMPLEMENTATION AND DESIGN<br>
    ERP SYSTEMS DEVELOPMENT<br>
    THEORY OF OPERRATING SYSTEMS<br>
    PROJECT FOR SE STUDENTS <br>
 </p>

  <p style="text-align: center;">-----------------------------</p>

<h3 style="text-align: center; font-family:Georgia, serif ; font-weight: 800; font-size: medium; background-color: rgb(255, 253, 250);">Currently a Member of: </h3>
<p id="member-of"> 
    <!-- add a link for each club (once you click on the club's name you go to the club's page) -->
    IT Geeks Club   (123 members)<br>
    BAU Football Team <br>

    <p style="text-align: right;  text-decoration: underline; margin: 25px;"> >View More</p>
 </p>

</div>
 </div>
    
</div>

</div>