<div id="nav-bar">
    <img id="logo" src="static/assessts/stdlink.png" alt="logo" width="200">
    
    <img id="profilePicture" src="static/assessts/graduate.png" alt="profilePicture" height="70" width="100">
    
    <input id="searchbar" name="q" type="text" placeholder="Search…">
    
    <img id="bell" src="static/assessts/bell.png" alt="logo" width="100">
</div>


<div id="Personalprofile">
    <img id="personalExpand" src="static/assessts/vector 10.svg" alt="expand" width="65">
    <p id="PersonalprofileHead">Personal profile</p>
    <div style="padding: 3%">
        <p>
            <ul>
                <li>Name:</li>
                <li>Age:</li>
                <li>Major:</li>
                <li>StudentID:</li>
            </ul>
        </p>
    </div>
</div>
<div id="Collegeprofile">
    <img id="collegeExpand" src="static/assessts/vector 10.svg" alt="expand" width="80">
    <p id="CollegeprofileHead">College profile</p>
    <div style="padding: 3%">
        <p>
            <ul>
                <li>Name:</li>
                <li>Age:</li>
                <li>Major:</li>
                <li>StudentID:</li>
            </ul>
        </p>
    </div>
</div>

</div>