<div id="nav-bar">
    <img id="logo" src="static/assessts/stdlink.png" alt="logo" width="200">
    
    <img id="profilePicture" src="static/assessts/graduate.png" alt="profilePicture" height="70" width="100">
    
    <input id="searchbar" name="q" type="text" placeholder="Search…">
    
    <img id="bell" src="static/assessts/bell.png" alt="logo" width="85">
</div>


<div id="Personalprofile">
    <p>
    <p id="PersonalprofileHead">Personal profile</p>
    <ul>
        <li>Name:</li>
        <li>Age:</li>
        <li>Major:</li>
        <li>StudentID:</li>
    </ul>
    </p>
</div>
<div id="Collegeprofile">
    <p id="CollegeprofileHead">College profile</p>
</div>

</div>