<div id="BackgroundLogo">
    <img id="LoginLogo" src="static/assessts/stdlink.png">
</div>
<div id="LoginForm" class="LoginForm">
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-190 p-b-30">
                <!-- ng-controller="loginController" -->
                <form class="login100-form validate-form"  ng-submit="login()">
                    <!-- <div ng-show="error" class="alert alert-danger" style="border-radius: 97px"> {{errorMessage}} </div> -->
                    <div class="wrap-input100 validate-input m-b-10" data-validate="Username is required" >
                        <input class="input100" type="text" name="email" placeholder="Username" ng-model="loginForm.email">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-user"></i>
                        </span>
                    </div>
                    <div class="wrap-input100 validate-input m-b-10" data-validate="Password is required">
                        <input class="input100" type="password" name="password" placeholder="Password" ng-model="loginForm.password">
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn p-t-10">
                        <button class="login100-form-btn">
                            Login
                        </button>
                    </div>

                    <div class="text-center w-full p-t-25 p-b-230">
                        <a href="#" class="txt1">
                            Forgot Username / Password?
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>