#nav-bar {
  padding: 1%;
}

#logo {
  margin-left: 3%;
}

#profilePicture {
  float: right;
  margin-right: 3%;
}

#searchbar {
  background-color: #cce4fd;
  height: 50px;
  width: 60%;
  margin-left: 4.5%;
  border: 0;
  border-radius: 97px;
  text-align: center;
  transition: 0.5s;
  outline: none;
}

#searchbar:focus {
  background-color: #e9f4ff;
  border: 2px solid #cce4fd;
}

#bell {
  float: right;
  margin-right: 1%;
}

.clubs-row {
  position: absolute;
  width: 23%;
  height: 41%;
  margin: 2.5% 2% 2% 1.5%;

  background: #e6e1e1;
  border-radius: 64px;
}

#Club1 {
  text-align: center;
  margin-top: 40%;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

#_club {
  background-color: #cce4fd;
  height: 85%;
  width: 95%;
  padding: 1%;
  border-radius: 97px;
  margin: 0 2% 2% 2%;
}

#clubinfo {
  margin: 1.5% 2%;
  text-align: left;
  width: 60%;
}

#members {
  width: 30%;
  height: 100%;
  text-align: center;
}
