#nav-bar {
  padding: 1%;
}

#logo {
  margin-left: 3%;
}

#profilePicture {
  float: right;
  margin-right: 3%;
}

#searchbar {
  background-color: #cce4fd;
  height: 50px;
  width: 60%;
  margin-left: 4.5%;
  border: 0;
  border-radius: 97px;
  text-align: center;
  transition: 0.5s;
  outline: none;
}

#searchbar:focus {
  background-color: #e9f4ff;
  border: 2px solid #cce4fd;
}

#bell {
  float: right;
  margin-right: 1%;
}

#personalProfile {
  float: left;
  background-color: #cce4fd;
  height: 85%;
  width: 35%;
  padding: 1%;
  border-radius: 97px;
  margin-left: 40px;
  text-align: left;
}

#bio {
  text-align: center;
  margin: 18px;
  color: rgb(0, 3, 3);
}

#personalProfileHead {
  text-align: center;
  color: rgb(3, 18, 22);
  font-size: 30px;
  text-decoration-style: solid;
  font-family: Trebuchet MS, Helvetica, sans-serif;
}

#personalExpand,
#collegeExpand {
  position: absolute;
  transition: 0.25s;
}

#personalExpand:hover {
  width: 80px;
}

#collegeProfile {
  float: right;
  background-color: #cce4fd;
  height: 85%;
  width: 59%;
  padding: 1%;
  border-radius: 97px;
  margin-right: 40px;
  text-align: left;
}

#C-info {
  text-align: center;
  margin: 10px;
  float: left;
  font-size: large;
  line-height: 200%;
  font-family: Georgia, serif;
  font-weight: 750;
}

#collegeProfileHead {
  text-align: center;
  color: rgb(3, 18, 22);
  font-size: 30px;
  text-decoration-style: solid;
  font-family: Trebuchet MS, Helvetica, sans-serif;
}

#collegeExpand:hover {
  width: 100px;
}

#collegeProfile #line {
  padding: 30px;
  background-color: #f0f7ff;
  border-radius: 30px;
  width: 60% !important;
  height: 100% !important;
  float: right;
}

#CurrentCourses {
  text-align: left;
  margin: 7px;
  float: right;
  line-height: 200%;
  font-family: Georgia, serif;
  font-weight: 550;
}

#CC-materials,
#member-of {
  margin-top: 30px;
  margin-left: 15px;
  line-height: 300%;
}

.userScroller {
  overflow: auto;
  width: 100%;
  height: 86%;
  border-radius: 97px;
}
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6eb1f0;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #309bff;
  opacity: 1;
}

.user {
  background-color: #cce4fd;
  border-radius: 97px;
  padding: 10px;
  align-items: center;
  border: white 4px solid;
}

#userDetails {
  width: 40%;
  direction: ltr;
  align-items: center;
}

#userImage {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #228beb;
  opacity: 0.7;
  margin: 20px;
}

#userSkill {
  width: 60%;
  direction: rtl;
  align-items: center;
}

#skillLevelContainer {
  width: 80%;
  height: 80px;
  border-radius: 97px;
  border: white 3px solid;
  direction: ltr;
  margin: 10px;
}

#skillLevel {
  width: 100%;
  height: 74px;
  background-color: #228beb;
  opacity: 0.7;
  border-radius: 97px;
}

/* userScroller animations */
.userScroller.ng-enter {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  opacity: 0;
}

.userScroller.ng-enter-active {
  opacity: 1;
}

.userScroller.ng-leave {
  -webkit-transition: 0s;
  transition: 0s;
  opacity: 1;
}

.userScroller.ng-leave-active {
  opacity: 0;
}

/* user animations */

.users.ng-enter {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  margin-left: 100%;
}

.users.ng-enter-active {
  margin-left: 0;
}

.users.ng-leave {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  margin-left: 0;
}

.users.ng-leave-active {
  margin-left: 100%;
}

.users.ng-hide {
  transition: 0.5s linear all;
  margin-left: 0%;
}

/* prfiles animations */
.profile.ng-enter {
  -webkit-transition: 1.2s;
  transition: 1.2s;
  opacity: 0;
}

.profile.ng-enter-active {
  opacity: 1;
}

.profile.ng-leave {
  -webkit-transition: 0s;
  transition: 0s;
  opacity: 1;
}

.profile.ng-leave-active {
  opacity: 0;
}
