body,
html {
  height: 100%;
  width: 100%;
}

#BrowserScreen {
  background-color: #bfd6e8;
  height: 100%;
  width: 100%;
  padding: 1%;
}

#MainScreen {
  background-color: white;
  border-radius: 97px;
  height: 100%;
  width: 100%;
}

/*---------------page2---------------------*/

#logo {
  margin-left: 3%;
  margin-top: 1%;
}

#searchbar {
  background-color: #cce4fd;
  margin-left: 6.5%;
  height: 50px;
  border-radius: 97px;
  width: 60%;
  margin-left: 4.5%;
  height: 50px;
  border-radius: 97px;
  width: 65%;
  text-align: center;
}

#bell {
  position: absolute;
  margin-top: 1%;
  /* margin-left: 1.5%; */
  float: right;
  background: red;
}

#Personalprofile {
  float: left;
  background-color: #a6cbf3;
  height: 100%;
  width: 35%;
  /* border-radius: 97px; */
  /* margin-left: 40px; */
  /* text-align: left; */
}

#PersonalprofileHead {
  text-align: center;
  color: rgb(3, 18, 22);
  font-size: 30px;
  text-decoration-style: solid;
  font-family: Trebuchet MS, Helvetica, sans-serif;
}

#Collegeprofile {
  float: left;
  background-color: #d561f1;
  height: 100%;
  width: 60%;
  /* border-radius: 97px; */
  /* margin-right: 40px; */
  /* text-align: left; */
}

#CollegeprofileHead {
  text-align: center;
  color: rgb(3, 18, 22);
  font-size: 30px;
  text-decoration-style: solid;
  font-family: Trebuchet MS, Helvetica, sans-serif;
}
