body,
html {
  height: 100%;
  width: 100%;
}

#BrowserScreen {
  background-color: #bfd6e8;
  height: 100%;
  width: 100%;
  padding: 1%;
}

#MainScreen {
  background-color: white;
  border-radius: 97px;
  height: 100%;
  width: 100%;
}

#LoginLogo {
  position: relative;
  width: 100%;
  padding: 5%;
  margin-top: 20%;
}

#BackgroundLogo {
  float: left;
  background-color: #cce4fd;
  height: 100%;
  width: 50%;
  border-top-left-radius: 97px;
  border-bottom-left-radius: 97px;
}

#LoginForm {
  float: right;
  height: 100%;
  width: 50%;
  border-top-left-radius: 97px;
  border-bottom-left-radius: 97px;
}

@media (max-width: 1000px) {
  #BackgroundLogo {
    width: 100%;
    height: 50%;
    border-top-left-radius: 97px;
    border-top-right-radius: 97px;
    border-bottom-left-radius: 0px;
  }
  #LoginLogo {
    position: relative;
    width: 100%;
    padding: 5%;
    margin-top: 5%;
  }
  #LoginForm {
    width: 100%;
    height: 50%;
  }
  div.LoginForm > * {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 97px;
    border-bottom-left-radius: 97px;
  }
  .container-login100::before {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 97px;
    border-bottom-left-radius: 97px;
  }
  .wrap-login100 {
    position: absolute;
  }
}

@media (max-width: 563px) {
  .wrap-login100 {
    margin-top: 20%;
  }
  #LoginLogo {
    margin-top: 25%;
  }
}

@media (max-width: 417px) {
  #LoginLogo {
    margin-top: 35%;
  }
}

#searchbar {
  background-color: #cce4fd;
  margin-left: 4.5%;
  height: 50px;
  border-radius: 97px;
  width: 55%;
  text-align: center;
}
